<div class="total-container">
<div class="container-sidebar">
	<img class="profile-pic" src="/profile/usr.jpg"></img>
	<ul class="username">{{username}}</ul>
</div>
<div class="main-container">
	<p>This is where the messages will be displayed.</p>
</div>
<div class="message-entry-container">
	<h1>text will go here.</h1>
	<entry class="text-entry-field"></entry>
</div>
</div>