<div class="total-container">
	<div class="container-sidebar">
		<img class="profile-pic" src="/profile/usr.jpg"></img>
		<ul class="username">{{username}}</ul>
	</div>
	<div class="main-container">
		<div class="message-entry-container">
			<ul class="chatlog"> 
				
			</ul>
			<div class="messagelog">
				<entry class="text-entry-field"></entry>
			<form class="createmessage">
  			<input class="typemessage" type="text" placeholder="Type your message here">
  			<input class="submit-message" type="submit" value="Send">
			</form>
				</div>
		</div>
	</div>

</div>