<div class="login-container">
   <h1 class="loginProgam">Chattery</h1>
      <hr></hr>
      <form class="login-form">
      <input type="text" class="login-form-username" placeholder="Username">
      <input type="submit" value="login">
 </form>   
</div>

 