@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  @include outer-container($local-max-width: $max-width);
  font-family: $base-font-family;
  color: $base-font-color;
  background-image: url("/img/clouds.jpg");
  margin: 0 auto;
}
.login-container {
  margin-top: 10%;
  margin-right: 38%;
  margin-left: 38%;
  background-color: grey;
  padding: 15px 10px; 
  text-align: center;
  border-radius: 5px;
}

.loginProgram {
  color: white;
  padding-bottom: -5px;
}
hr {
  margin-bottom: 7px;
}

.main-container {
  @include span-columns(9 of 12);
  background-color: rgba(57, 183, 173, .5);
  margin-right:10px;
  padding: 8px;
  height: 780px;
  float: right;
  border-radius: 15px;
  border-color: white;
}
.TextEntry {
  background-color: rgba(63, 179, 218, 1);
  border-radius: 10px;
  border-width: 3px;
  border-color: white;
}
.container-sidebar {
  background-color: rgba(57, 183, 173, 1);
  height: 780px;
  /*margin-top: 5px;
  margin-right: 15px;
  margin-bottom: 5px;
  margin-left: 10px;
  width: 150px;*/
  @include span-columns(3 of 12);
  border-radius: 15px;
}
.chatlog {
  height:700px;
}
.profile-pic {
  margin-top: 15px;
  margin-right: 40%;
  margin-bottom: 0;
  margin-left: 40%;
  height: 75px;
  width: 75px;
  border-radius: 100%;
}
.typemessage {
  width:90%;
}
.submit-message {
  width: 70px;
}